/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#F0F0F0, transparent 1px),
    linear-gradient(90deg, #F0F0F0, transparent 1px),
    linear-gradient(#cbcbcb, transparent 1px),
    linear-gradient(90deg, #cbcbcb, transparent 1px);
    background-size: 25px 25px,
    25px 25px,
    50px 50px,
    50px 50px;
    font-family: Verdana, Tahoma, sans-serif;
    overflow-y: scroll;
}

#lesson-topic {
    height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    margin-bottom: 50px;
    padding-left: 20px;
    color: #fff;
    background-color: rgba(170, 183, 184, .3);
    font: bold 1.5em Verdana;
    line-height: 50px;
}

/*  Other rules */
.nav-container {
    position: relative;
    width: 100%;
    background-color: #e2e8f5;
    box-shadow: 2px 2px 5px #d3d3d3;
    font-size: 1.1em;
    font-family: "Roboto Slab", Verdana, Tahoma, sans-serif;
}

/* Ширина блока меню + 5px на боковые линии */
.main-menu {
    width: calc(150px * 4 + 5px);
    margin: 0 auto;
}

/* Базовая стилизация пунктов меню */
.main-menu a {
    display: block;
    width: 150px;
    height: 50px;
    color: #63718f;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

/* Задаётся ширина подменю. В соответствие к нему "растягиваются" родительские элементы .main-menu ul li  */
.main-menu ul a {
    width: 200px;
}

.main-menu a:hover {
    background-color: #63718f;
    cursor: pointer;
}

.main-menu > li {
    float: left;
    border-left: 1px solid #f5f5f5;
}

.main-menu > li:last-child {
    border-right: 1px solid #f5f5f5;
}

.main-menu li {
    list-style-type: none;
}

.main-menu li:hover > a {
    color: #f5f5f5;
    background-color: #63718f;
}

/* Изначально скрыть все выпадающие подменю */
.main-menu ul {
    display: none;
}

/* Отобразить выпадающее подменю (скрытое ранее) при выборе соответствующего пункта меню */
.main-menu li:hover > ul {
    display: block;
}

/* Базовая стилизация подменю первого и второго уровней
Ширина данного подменю "резиновая" и задаётся правилом вверху: .main-menu ul a */
.sub-menu-1,
.sub-menu-2 {
    position: absolute;
    box-sizing: border-box;
    background-color: #e2e8f5;
    box-shadow: .5px .5px 2.5px .5px #63718f;
}

/* Дополнительная стилизация подменю второго уровня – вправо и внахлест -5px на родителя */
.sub-menu-2 {
    left: 100%;
    margin: -50px 0 0 -5px;
}

/* Указатель на наличие вложенного подменю */
.pointer::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    margin-top: -32px;
    border: 7px solid transparent;
    border-right: 0;
    border-left: 10px solid #adb4c4;
}

.sub-menu-1 hr {
    width: 95%;
    margin: auto;
    border-top: 1px solid #b6b6b6;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}