/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#F0F0F0, transparent 1px),
    linear-gradient(90deg, #F0F0F0, transparent 1px),
    linear-gradient(#E3E3E3, transparent 1px),
    linear-gradient(90deg, #E3E3E3, transparent 1px);
    background-size: 10px 10px,
    10px 10px,
    20px 20px,
    20px 20px;
    font-family: Verdana, Tahoma, sans-serif;
}

#lesson-topic {
    height: 50px;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #FFF;
    background-color: rgba(170, 183, 184, .3);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Other rules */

div[class*="piece"] {
    position: absolute;
    width: 0;
    height: 0;
}

.figure-1 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(136, 76, 153, .6);
    width: 320px;
    height: 100px;
}

.figure-1-piece-1 {
    left: calc(50% - 50px);
    top: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 50px;
    border-top-color: rgba(136, 76, 153, .6);
}

.figure-2 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(29, 131, 72, .7);
    width: 320px;
    height: 100px;
}

.figure-2-piece-1 {
    top: 0;
    left: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 50px;
    border-left-color: rgba(29, 131, 72, .7);
}

.figure-2-piece-2 {
    left: 0;
    top: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 40px;
    border-right-color: rgba(29, 131, 72, .7);
    border-top-color: rgba(29, 131, 72, .7);
}

.figure-3 {
    position: relative;
    width: calc(320px - 50px);
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255, 160, 97, .7);
}

.figure-3-piece-1 {
    top: 0;
    left: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 50px;
    border-left-color: rgba(255, 160, 97, .7);
}

.figure-3-piece-2 {
    top: 0;
    right: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 25px;
    border-top-color: rgba(255, 160, 97, .7);
    border-right-color: rgba(255, 160, 97, .7);
}

.figure-3-piece-3 {
    bottom: 0;
    right: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 25px;
    border-bottom-color: rgba(255, 160, 97, .7);
    border-right-color: rgba(255, 160, 97, .7);
}

.figure-4 {
    position: relative;
    width: 100px;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(146, 131, 222, .7);
}

.figure-4-piece-1 {
    bottom: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 50px;
    border-bottom-color: rgba(146, 131, 222, .7);
}

.figure-4-piece-2 {
    top: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 25px;
    border-top-color: rgba(146, 131, 222, .7);
    border-left-color: rgba(146, 131, 222, .7);
}

.figure-4-piece-3 {
    top: 100%;
    left: 50%;
    border-color: transparent;
    border-style: solid;
    border-width: 25px;
    border-top-color: rgba(146, 131, 222, .7);
    border-right-color: rgba(146, 131, 222, .7);
}

.figure-5 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(235, 235, 84, .7);
    width: 320px;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.figure-5-piece-1 {
    top: 0;
    left: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 50px;
    border-left-color: rgba(235, 235, 84, .7);
}

.figure-6 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 74, 129, .7);
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/*  Расстояния в нижнем правиле top - left подбирал визуально */

.figure-6-piece-1 {
    top: 40px;
    left: -10px;
    border-color: transparent;
    border-style: solid;
    border-width: 80px;
    border-right-color: rgba(236, 255, 4, .7);
}

.figure-7 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(62, 170, 250, .7);
    width: 300px;
    height: 160px;
}

.figure-7-piece-1 {
    top: 0;
    left: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 30px;
    border-bottom-color: rgba(62, 170, 250, .7);
    border-left-color: rgba(62, 170, 250, .7);
}

/*  Задал правило как тэг.класс, что бы сработал приоритет и переопределилась ширина и высота для блока.
    Иначе срабатывает стиль div[class*="piece"], в котором установлены ширина и высота 0px */

div.figure-7-piece-2 {
    bottom: 0;
    left: 100%;
    width: 60px;
    height: calc(160px - 60px);
    background-color: rgba(62, 170, 250, .7);
}

.figure-8 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(167, 0, 53, .7);
    width: 320px;
    height: 100px;
}

.figure-8-piece-1 {
    top: 100%;
    border-style: solid;
    border-color: transparent;
    border-left-width: 160px;
    border-right-width: 160px;
    border-top-width: 40px;
    border-top-color: rgba(167, 0, 53, .7);
}

/*  Жаль, что была подсказка, как сделана окантовка для стрелки.
    Хотелось бы додуматься до решения самому */

.figure-9 {
    position: relative;
    margin: 0 auto;
    background-color: rgba(68, 155, 174, 1);
    width: 300px;
    height: 150px;
    border: 10px solid rgba(166, 229, 243, 1);
}

/*  Прозрачность снял, т.к. просматривается окантовка
    основного блока под треугольником*/

.figure-9-piece-1 {
    top: calc((150px - 2 * 40px) / 2);
    right: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 40px;
    border-right-color: rgba(68, 155, 174, 1);
}

/*  Размер нижнего треугольника-обводки подбирал визуально */

.figure-9-piece-2 {
    top: calc((150px - 2 * 55px) / 2);
    right: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 55px;
    border-right-color: rgba(166, 229, 243, 1);
}

table {
    width: 100%
}

table tr td {
    position: relative;
    height: 300px;
    border: 1px solid darkgray;
}

.number-of-figure {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: darkgray;
    color: white;
    font: bold 14px sans-serif;
    line-height: 30px;
    text-align: center;
}