/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#F0F0F0, transparent 1px),
    linear-gradient(90deg, #F0F0F0, transparent 1px),
    linear-gradient(#E3E3E3, transparent 1px),
    linear-gradient(90deg, #E3E3E3, transparent 1px);
    background-size: 25px 25px,
    25px 2525px,
    50px 50px,
    50px 50px;
    font-family: Verdana, Tahoma, sans-serif;
}

#lesson-topic {
    height: 50px;
    margin-bottom: 25px;
    padding-left: 20px;
    font: bold 1.5em Verdana;
    color: #FFF;
    background-color: rgba(170, 183, 184, .3);
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Other rules */

