/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

#hw-name {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    background-color: #F7F7F7;
    padding: 5px;
    margin: 0 0 50px 0;
}

/* Other rules */

table.outer {
    margin: 0 auto;
    width: 60%;
}

table.outer td {
    padding: 10px;
    background: #FEFDD9;
}

table.outer td.nav-cell {
    width: 30%;
    background: #F7F7F7;
}

table.inner {
    width: 100%;
}

table.inner td {
    padding: 10px;
    background: #FFFFFF;
    border-bottom: 2px solid #F7F7F7;
}

table.inner td:hover {
    background: #CFE4F5;
}
