/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
    opacity: 0.96;
}

body {
    background: linear-gradient(#F0F0F0, transparent 1px),
    linear-gradient(90deg, #F0F0F0, transparent 1px),
    linear-gradient(#cbcbcb, transparent 1px),
    linear-gradient(90deg, #cbcbcb, transparent 1px);
    background-size: 25px 25px,
    25px 25px,
    50px 50px,
    50px 50px;
    font-family: Verdana, Tahoma, sans-serif;
}

#lesson-topic {
    height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    margin-bottom: 50px;
    padding-left: 20px;
    color: #FFF;
    background-color: rgba(170, 183, 184, .3);
    font: bold 1.5em Verdana;
    line-height: 50px;
}

/*  Other rules




