/* Reset & common rules */

* {
    padding: 0;
    margin: 0;
    opacity: 0.96;
}

body {
    background: linear-gradient(#F0F0F0, transparent 1px),
    linear-gradient(90deg, #F0F0F0, transparent 1px),
    linear-gradient(#cbcbcb, transparent 1px),
    linear-gradient(90deg, #cbcbcb, transparent 1px);
    background-size: 25px 25px,
    25px 25px,
    50px 50px,
    50px 50px;
    font-family: Verdana, Tahoma, sans-serif;
}

#lesson-topic {
    height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    margin-bottom: 50px;
    padding-left: 20px;
    color: #FFF;
    background-color: rgba(170, 183, 184, .3);
    font: bold 1.5em Verdana;
    line-height: 50px;
}

/*  Other rules */

.battery {
    position: relative;
    width: 400px;
    height: 150px;
    border: 10px solid black;
    margin: 0 auto;
    margin-bottom: 30px;
}

.battery::after {
    position: absolute;
    content: " ";
    display: block;
    width: 30px;
    height: 60px;
    background-color: #000;
    left: 100%;
    top: 50%;
    margin-top: calc(-60px / 2);
    border-radius: 0 10px 10px 0;

}

.low-energy::before {
    position: absolute;
    content: " ";
    display: block;
    width: 10%;
    height: 150px;
    background-color: #FF0000;
    left: 0;
}

.mid-energy::before {
    position: absolute;
    content: " ";
    display: block;
    width: 50%;
    height: 150px;
    background-color: #FFA500;
    left: 0;
}

.full-energy::before {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 150px;
    background-color: #008000;
    left: 0;
}




