* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9dbce;
}

nav {
    height: 40px;
    line-height: 40px;
    background-color: #52aace;
}

header {
    font-size: 0;
    background-color: #91daf5;
    text-align: center;
}

main {
    background-color: #e9dbce;
    padding-bottom: 40px;
}

footer {
    height: 500px;
    background-color: #2d3e50;
    border-top: 10px solid #52afd8;
}

.container {
    position: relative;
    width: 1040px;
    margin: 0 auto;
}

/* ВЕРХНЕЕ МЕНЮ со строкой поиска */

nav .container {
    margin: 0 auto;
}

nav ul.top-menu {
    float: left;
}

nav ul.top-menu > li {
    float: left;
    padding-right: 40px;
    padding-left: 10px;
    list-style-type: square;
    color: #1b485d;
}

nav a.ico-home {
    height: 40px;
    width: 30px;
    float: left;
    background: url("images/icons/ico-home.svg") center no-repeat;
    background-size: 25px;
    opacity: 0.4;
    padding-top: calc((40px - 25px) / 2);
    margin-right: 30px;
}

nav a.ico-home:hover {
    height: 40px;
    width: 30px;
    background: url("images/icons/ico-home-hover.svg") center no-repeat;
    background-size: 25px;
    opacity: 0.9;
}

nav ul.top-menu a {
    height: 40px;
    font: bold .9em sans-serif;
    font-size: 1.0em;
    color: #1b485d;
    text-decoration: none;
}

nav ul.top-menu a:hover {
    color: #d7d22d;
}

nav div.container label {
    position: relative;
    float: right;
}

nav div.container label::before {
    content: url("images/icons/magnifier_18px.svg");
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0.4;
}

nav input[type="search"] {
    width: 40ch;
    height: 25px;
    padding-left: 4ch;
    font-size: 1.0em;
    color: #696969;
}

/* Стилизация СЛАЙДЕРА. Правда нерабочего */

#carusel {
    display: block;
    width: 100%;
    height: 250px;
    background-color: #fff;
}

#carusel > div.container {
    width: 1200px;
    height: 100%;
}

#carusel h5.carusel-caption {
    float: left;
    width: 1040px;
    padding: 10px 20px 0 20px;
    margin-bottom: 5px;
    font: normal bold 1.2em sans-serif;
    color: #3483a5;
}

/* СЛАЙДЕР. Основной контейнер для изображений */

#carusel div.carusel-unit {
    position: relative;
    float: left;
    width: 208px;
    height: 160px;
}

/* СЛАЙДЕР. Задаю размеры для контейнера. Изображения как бы задумываются кликабельными с переходом по ссылке */

#carusel div.carusel-unit a {
    width: 208px;
    height: 160px;
}

/* СЛАЙДЕР. Контейнеры для навигационных кнопок */

#carusel .nav-button-left {
    float: left;
    position: relative;
    width: 80px;
    height: 100%;
    opacity: 0.4;
}

#carusel .nav-button-right {
    float: right;
    position: relative;
    width: 80px;
    height: 100%;
    opacity: 0.4;
}

/* СЛАЙДЕР. Позиционное выравнивание навигационных кнопок */

#carusel .nav-button-left img {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: calc(-90px / 2);
}

#carusel .nav-button-right img {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: calc(-90px / 2);
}

#carusel .nav-button-left:hover,
#carusel .nav-button-right:hover {
    opacity: 1.0;
}

/* СЛАЙДЕР. Стилизация подписи под иллюстрацией */

#carusel div.carusel-unit::after {
    position: absolute;
    left: 10px;
    top: 90%;
    padding-top: 5px;
    color: #b7a99d;
    font: normal 1em sans-serif;
}

/* СЛАЙДЕР. Всплывающее окно при наведении на элемент слайдера */

/*#carusel div.carusel-unit:hover::before {
    content: url("images/icons/photo.png");
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: 999;
    width: 280px;
    height: 200px;
    border: 1px solid #c6ccd9;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0.8;
}

#carusel div.carusel-unit.place-01 a {
    content: url("images/slider01.jpg");
}

#carusel div.carusel-unit.place-02 a {
    content: url("images/slider02.jpg");
}

#carusel div.carusel-unit.place-03 a {
    content: url("images/slider03.jpg");
}

}*/

#carusel div.carusel-unit.place-01 a {
    content: url("images/slider01.jpg");
}

#carusel div.carusel-unit.place-02 a {
    content: url("images/slider02.jpg");
}

#carusel div.carusel-unit.place-03 a {
    content: url("images/slider03.jpg");
}

#carusel div.carusel-unit.place-04 a {
    content: url("images/slider04.jpg");
}

#carusel div.carusel-unit.place-05 a {
    content: url("images/tramp-01.jpg");
}

#carusel div.place-01::after {
    content: "Trampoliny EasyJump zawiera";
}

#carusel div.place-02::after {
    content: "Sapphire Trampolina ogrodowa z siatką";
}

#carusel div.place-03::after {
    content: "Trampolina to nie tyle zabawka";
}

#carusel div.place-04::after {
    content: "Hop-Sport Trampolina ogrodowa";
}

#carusel div.place-05::after {
    content: "Warto też kupić trampolinę";
}

/* Стилизация раздела рекламных баннеров */

.banners {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #e9dbce;
    font-size: 0;
}

.banners figure {
    width: 1040px;
    margin: 0 auto;
}

.banners figure:not(:last-of-type) {
    margin-bottom: 10px;
}

.banners a {
    border-radius: 5px;
    margin-right: 10px;
}

.banners a:last-of-type {
    margin-right: 0;
}

/* Стилизация основного информационного блока */

main section.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

main section.container h2 {
    padding: 15px 0 10px 0;
    font: bold 1.7em sans-serif;
    color: #5d686b;
}

main section.container h3 {
    padding-top: 10px;
    font: bold italic 1.4em serif;
    color: #5d686b;
}

main section.container article:first-of-type h2 {
    padding: 0;
}

main section.container p {
    font: normal 1.2em serif;
    color: #5d686b;
    padding-top: 0.7em;
}

main section.container ul {
    font: italic 1.2em serif;
    color: #5d686b;
    list-style-position: inside;
    list-style-type: circle;
}

main article .photo-article {
    float: right;
    margin-left: 20px;
}

main article .photo-article-nopadding {
    position: relative;
    right: -20px;
    float: right;
    margin-left: 20px;
}

/* Стилизация фотогалереи под статьей */
/* Изображения размещаются строка (figure.photogallery) + ячейки (figure.photo-gallery-big и .photo-gallery-small) */

main figure.photo-gallery {
    margin-top: 10px;
}

main figure.photo-gallery a:not(:last-child) {
    margin-right: 20px;
}

main figure.photo-gallery a
{
    position: relative;
}

main section figure .photo-gallery-big {
    width: 646px;
    height: 500px;
}

main section figure .photo-gallery-small {
    width: 330px;
    height: 500px;
}

main figure.photo-gallery a:hover {
    -webkit-filter: brightness(80%);
}

/* Стилизация футера */

footer .container {
    box-sizing: content-box;
    width: 1040px;
    font: normal .9em sans-serif;
    color: #cacaca;
}

footer .foot-info-left {
    height: 100%;
    line-height: 50px;
}

footer .foot-info-right {
    position: relative;
    float: right;
    height: 100%;
    line-height: 50px;
}

footer .foot-info-right * {
    float: right;
    margin-left: 10px;
}

footer .foot-info-right a {
    margin-top: 10px;
}

footer .foot-info-right a:hover {
    -webkit-filter: brightness(80%);
}

footer hr {
    background-color: #cacaca;
    border: 0 none;
    height: 1px;
}

footer .foot-info-left a {
    color: #d6be5a;
    text-decoration: none;
}

footer .foot-info-left a.fb-logo {
    content: url("images/icons/fb-logo.svg");
}

footer .foot-info-left a.twitter-logo {
    content: url("images/icons/twitter-logo.svg");
}

footer .foot-info-left a.fb-logo:hover {
    content: url("images/icons/fb-logo-hover.svg");
}

footer .foot-info-left a.twitter-logo:hover {
    content: url("images/icons/twitter-logo-hover.svg");
}

footer .foot-info-left a:hover {
    color: #2db0ff;
    text-decoration: none;
}

.clear-fix {
    content: "";
    display: table;
    clear: both;
}



